<!DOCTYPE html>
<html>
	<head>
	<title>Hello HTML & Backend Challenges | Free Code Camp</title>
	<meta name="viewport" conten="width=device-width,initial-scale=1">
	<link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203"/>
	<link href="https://fonts.googleapis.com/css/?family=Roboto" rel="stylesheet"/>
	<link href="/public/style.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<div class="container"
		<h1>Manage Node.js Projects and npm packages using package.json</h1>
		<h3>Part 1 of Free Code Camp Backend Challenges</h3>
	</div>

	<h1>Hello, HTML.</h1>
	<p>Do not use until Challene #12</p>
	<form action="/name" method="post">
		<label>First Name :</label>
		<input type="text" name="first" value="John"><br>
		<lablel>Last Name :</lablel>
		<label type="text" name="last" value="Doe"><br><br>
		<input type="submit" value="Submit">
		</label>
	</form>
</body>

</html>